---
layout: default
---

<section>
<div class="container">
<!-- begin post -->
{% for post in paginator.posts %}
<div class="card">
  <div class="card-inner" style="--clr:#fff;">
    <div class="box">
      <div class="imgBox">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        {% if post.image %} <img src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
         </a>
      </div>
      <div class="icon">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="iconBox">
          <span class="material-symbols-outlined">arrow_outward</span>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <p>Fill out the form and the algorithm will offer the right team of experts</p>
    <ul>
      {% assign displayed_categories = "" %}
      {% for category in post.categories %}
        {% unless displayed_categories contains category %}
          <li class="branding">
            <a href="{{ site.url }}/category/{{ category }}">{{ category }}</a>
          </li>
          {% assign displayed_categories = displayed_categories | append: category %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

<!-- end post -->

</div>
</section>

 {% include pagination.html %}

<style>

section .container .card ul li:nth-child(1) {
  background: #d3b19a;
}

section .container .card ul li:nth-child(2) {
  background: #70b3b1;
}

section .container .card ul li:nth-child(3) {
  background: #d05fa2;
}

section .container .card ul li:nth-child(4) {
  background: #ffcc00;
}
.pagination{display:flex;justify-content:center;align-items:center;gap:8px;margin:20px 0}.pagination a{display:inline-block;padding:10px 15px;background-color:#007bff;color:#fff;font-size:16px;border-radius:5px;text-decoration:none;transition:background-color 0.3s,transform 0.2s}.pagination .webjeda{background-color:#28a745;color:#fff;padding:10px 15px;border-radius:5px;font-weight:700}.pagination a:hover{background-color:#0056b3;transform:scale(1.1)}.pagination span{padding:10px 15px;background-color:#d6d6d6;color:#888;border-radius:5px}.pagination i{font-size:16px}.pagination .fas{font-size:18px}@media (max-width:768px){.pagination a,.pagination .webjeda,.pagination span{padding:8px 12px;font-size:14px}.pagination{gap:5px}}@media (max-width:480px){.pagination a,.pagination .webjeda,.pagination span{padding:6px 10px;font-size:12px}}
</style>
