<!-- begin post -->
        {% for post in site.posts %}
<div class="tg-onclick">
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
        <div class="tg-channel-img">{% if post.image %} <img class="rounded mb-4" src="{{ post.image }}" alt="{{ post.title }}"> {% endif %}</div>
    </a>
		<h2 class="card-title h4 serif-font"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
       </div>
        {% endfor %}
<!-- end post -->

<style>.tg-channels .tg-channel-wrapper .tg-channel-img {
  font-size: 8.5px;
  float: left;
  overflow: hidden;
  width: 90px;
  height: 90px;
  margin-top: 2px;
  font-size: 8.5rem;
  width: 90rem;
  height: 90rem;
  margin-top: 2rem;
}
.tg-channels .tg-channel-wrapper .tg-channel-img img {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}</style>


