---
layout: default
---


<section class="post">
  <div class="flex-row-between">
	  <a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> home</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>

<div class="container-post">
        <div class="container-image">
{% if page.image %}<img style="height: 100%;width: 100%;" class="lazyload" src="{{ page.image }}" alt="{{ page.title }}">{% endif %}
        </div>
        <div class="container-details">
        <h1 class="title">{{ page.title }}</h1>
<div class="tg-channel-user">
  <span class="tg-user-count">{{ page.current }}</span>
  <span class="tg-user-change">+{{ page.change }}</span>
</div>
	<a class="container-link" href="">Open</a>
        <p class="container-description">{{ content }}</p>
        
        </div>
    </div>

<style>
.container-post {
  display: flex;
  padding: 8px;
  border: 1px solid #ddd;
  max-width: 800px;
  margin: 0 auto;
}

.container-image {
  width: 200%; 
  max-width: 150px; /* Maximum size */
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the entire container */
  border-radius: 50%; /* Apply circular shape to the image */
}

.container-details {
  padding-left: 20px;
  flex-grow: 1; /* Let this section take available space */
}

.container-details h1 {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
}

.tg-channel-user {font-size: 20px;
    font-weight: 600;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
		margin-bottom: 15px;
}.tg-user-change {
    color: #4d4;
}

.container-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.container-link {
  background-color: #cc1515;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

.container-link:hover {
  background-color: #066;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-post {
    display: block;
    padding: 10px;
    text-align: center;
  }
  .container-image {
    margin: 0 auto;
  }

  .container-details {
    padding: 10px;
  }

  .container-description {
    font-size: 14px;
  }

  .follower {
    font-size: 18px;
  }
}


</style>

	  <span class="meta">
    {% for tag in page.tags %}
    <a href="{{ site.url }}{{ site.baseurl }}/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>

</section>

<section>

  <nav class="post-nav">
    {% if page.previous %}
    <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Previous</div>
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
    {% endif %} {% if page.next %}
    <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Next</div>
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}

  </nav>
</section>

{% if site.comments-enabled %}
  {% include disqus.html %}
{% endif %}
