---
layout: default
---

<section>
  <h1>Tag #{{ page.tag }}</h1>
  <div class="container">
    <!-- begin post -->
    {% for post in paginator.posts %}
      {% if post.tags contains page.tag %}
        <div class="card">
          <div class="card-inner" style="--clr:#fff;">
            <div class="box">
              <div class="imgBox">
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
                  {% if post.image %}
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                  {% endif %}
                </a>
              </div>
              <div class="icon">
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="iconBox">
                  <span class="material-symbols-outlined">arrow_outward</span>
                </a>
              </div>
            </div>
          </div>
          <div class="content">
            <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p>Fill out the form and the algorithm will offer the right team of experts</p>
            <ul>
              {% assign displayed_categories = "" %}
              {% for category in post.categories %}
                {% unless displayed_categories contains category %}
                  <li style="--clr-tag:#d3b19a;" class="branding">
                    <a href="{{ site.url }}/category/{{ category }}">{{ category }}</a>
                  </li>
                  {% assign displayed_categories = displayed_categories | append: category %}
                {% endunless %}
              {% endfor %}

              <!-- Display Tag -->
              <li style="--clr-tag:#ff7b7b;" class="branding">
                <a href="{{ site.url }}/tag/{{ page.tag }}">{{ page.tag }}</a>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <!-- end post -->
  </div>
</section>
<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fas fa-chevron-left"></i></a>
  {% else %}
    <span><i class="fas fa-chevron-left"></i></span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ site.baseurl }}/">{{ page }}</a>
    {% else %}
      <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fas fa-chevron-right"></i></a>
  {% else %}
    <span><i class="fas fa-chevron-right"></i></span>
  {% endif %}
</div>
{% endif %}

